:root {
    --tablet-breakpoint: 37.5625rem;
    --desktop-breakpoint: 48.0625rem;
    --primary-color: #fa573a;
    --secondary-color: #21242e;
    --disabled-color: #adadad;
    --font-size: 1rem;
    --max-width: 62.75rem;
}

* {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;

    &::-webkit-scrollbar {
        display: none;
    }
}

footer {
    width: 100%;
}

main {
    margin-bottom: 7.5rem;
    width: 100%;
}

section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Handlee", sans-serif;
}

i {
    color: #fa573a;
}

.back-to-top {
    position: fixed;
    bottom: 44px;
    right: 8px;
    z-index: 1;
    cursor: pointer;
    font-size: 3rem;

    transition: bottom 0.3s;

    &:hover {
        bottom: 48px;
        transition: 0.3s;
    }
}
